/* This file is automatically managed and will be overwritten from time to time. */
/* Do not manually edit this file. */

/* Import and include this mixin into your project theme to include the addon themes */
@mixin addons {
}

/* This font-face declaration must be outside your theme mixin. */
@font-face {
    font-family: 'Vaadin-Icons';
    src: url('fonts/Vaadin-Icons.eot');
    src: url('fonts/Vaadin-Icons.eot?#iefix') format('embedded-opentype'),
         url('fonts/Vaadin-Icons.woff') format('woff'),
         url('fonts/Vaadin-Icons.ttf') format('truetype'),
         url('fonts/Vaadin-Icons.svg#icomoon') format('svg');
}
.Vaadin-Icons {
    font-family: 'Vaadin-Icons';
}