<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
     http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">

	<session-config>
		<tracking-mode>COOKIE</tracking-mode>
	</session-config>

	<context-param>
		<param-name>productionMode</param-name>
		<param-value>false</param-value>
	</context-param>

	<context-param>
		<param-name>widgetset</param-name>
		<param-value>net.gpedro.faculdade.filinha.FilinhaWidgetset</param-value>
	</context-param>

	<servlet>
		<servlet-name>Erp</servlet-name>
		<servlet-class>net.gpedro.faculdade.filinha.erp.ErpServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>Client</servlet-name>
		<servlet-class>net.gpedro.faculdade.filinha.visitante.ClientServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>Atendimento</servlet-name>
		<servlet-class>net.gpedro.faculdade.filinha.atendimento.AtendimentoServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>Default</servlet-name>
		<servlet-class>net.gpedro.faculdade.filinha.core.DefaultServlet</servlet-class>
	</servlet>

</web-app>